# Jekyll build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby dependencies
.bundle/
vendor/

# macOS files
.DS_Store

# Editor files
*.swp
*.swo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
